@charset "utf-8";
body, th {
    font-family: Critter, Cottonwood, fantasy;
    font-size: 20px;
	color: #800000;
}
td {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;

}

body {
    background-repeat: repeat;
    background-size: 100%;
    background-image: url("fotos/fondo_rosa.jpg");
    
}
li center #div {
    position: absolute;
    left: 73px;
}

* {
margin:0px;
padding:0px;
}
#header {
margin:auto;
width:500px;
font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}

ul, ol {
list-style:none;
}

.nav{
}

.nav > li {
	float:left;
}

.nav li a {
background-color: black;
color: yellow;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav li a:hover {
background-color: grey;
	
}

.nav li ul {
display:none;
position:absolute;
}


.nav li:hover > ul {
display:block;
}

.nav2 > li {
	float:left;
}

.nav2 li a {
background-color:blue;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav2 li a:hover {
background-color:blue;
}

.nav2 li ul {
display:none;
position:absolute;
}

.nav2 li:hover > ul {
display:block;
}

.nav3 > li {
	float:left;
}

.nav3 li a {
background-color:orange;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav3 li a:hover {
background-color:orange;
}

.nav3 li ul {
display:none;
position:relative;
}

.nav3 li:hover > ul {
display:block;
}

.nav4 > li {
	float:left;
}

.nav4 li a {
background-color:purple;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav4 li a:hover {
background-color:purple;
}

.nav4 li ul {
display:none;
position:relative;
}

.nav4 li:hover > ul {
display:block;
}

.nav5 > li {
	float:left;
}

.nav5 li a {
background-color:pink;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav5 li a:hover {
background-color:pink;
}

.nav5 li ul {
display:none;
position:relative;
}

.nav5 li:hover > ul {
display:block;
}

.nav6 > li {
	float:left;
}

.nav6 li a {
background-color: #0DEEB3;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}

.nav6 li a:hover {
background-color:#0DEEB3;
}

.nav6 li ul {
display:none;
position:relative;
}

.nav6 li:hover > ul {
display:block;
}

#borderedondo {
	border-radius: 100px;
	background-color:#FFB806;
	width:810px;
	height:450px;
	text-align:center;
}

.copy {
	background-color: #FFE4C4;
	font-size: 22px;
	position: center;
}
	
.footer {
	font-size: 20px;
    background-color: #FFE4C4;
	text-align: justify-all;
	color: #800000;
	text-decoration: underline;
}
.contacto {
	color: #808080;
	font-size:15px;
}
